*, ::after, ::before {
    box-sizing: inherit;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(251, 253, 251);
}
 
#loginbtn{
    width: 400px;
    height: 63px;
    background-color: #3f3e3e;
    border: 1px solid #3f3e3e;
    color: white;
    padding: 11px 26px;
    margin: 10px 0px 0px 523px;
}

.nav-link {
    margin: 0px 5px 0px 5px;
}

#navbar{
    background-color: rgba(255, 255, 255, 70%);
    height: 70px;
    }

#idarea{
    width: 400px;
    height: 54.5px;
    margin: 75px 0px 0px 523px;
    border: 1px solid rgb(150, 150, 150);
}

#pwdarea{
    width: 400px;
    height: 54.5px;
    margin: 8.2px 0px 0px 523px;
    border: 1px solid rgb(150, 150, 150);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    color: black;  
}

 #find{
     position: relative;
     color: black;
     font-size: 14px;
 }

 .userMenu{
     position: absolute;
     transform: translate(288%, 35%);
 }

 #loginall{ /*로그인 부분 반응형*/
    position: absolute;
    top: 40%;
    left: 40%;
    width: 304px;
    transform: translate(-200%, -90%);
    font-size: 14px;
    color: black;
 }

 a {
    color: black;
    text-decoration: none;
}
