*{
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

#container{
    margin-top: 70px;
    
}

#memoList{
    width: 15%;
    height: 100%;
    padding: 20px;
    float: left;
    background-color: rgb(189, 189, 189);
    
}

#memoList ul{
    list-style-type: none;
    padding: 0;
}

#question{
    width: 50px;
}

#question:hover{
   cursor: pointer;
}

#explain{
    visibility: hidden;
}

#memoPage{
    margin-left: 18%;
    padding: 25px;
}

.memo{
    width: 360px;
    height: 320px;
    display: inline-block;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}

.memo textarea{
    width: 200px;
    background-color: transparent;
    border: 0;
    color: white;
    resize: none;
    overflow: hidden;
    
    
    /* outline-style: none; */
}

.memo textarea[id$='title']{
    display: inline;
    display: block;
    width: 162px;
    height: 20px;
    
}

.memo textarea[id$='content']{
    height: 180px;
    
}

.memo div{
    display: inline;
    color: white;
    float: left;
    font-size: 0.9em;
}
/* ------------------------------------------------ */

#addMemo{
    width: 180px;
    height: 39px;
    border: 1px solid #3f3e3e;
    border-radius: 4px;
    background-color: #3f3e3e;
    color: white;
}

#addQuestion{
    width: 180px;
    height: 39px;
    border: 1px solid #3f3e3e;
    border-radius: 4px;
    background-color: #3f3e3e;
    color: white;
    margin-top: 5px;
}

#addMemo:hover{
    width: 180px;
    height: 39px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    color: #3f3e3e;
}

#addQuestion:hover{
    width: 180px;
    height: 39px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    color: #3f3e3e;
    margin-top: 5px;
}

/* 스크롤바 없앰 */
body::-webkit-scrollbar { 
    display: none; 
    }